:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Forum", sans-serif;
    --font3: "Klementina", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a {
    display: contents;
    color: inherit;
    text-decoration-line: inherit;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
    font: 400 2.3364485981vw/1.33 var(--font-family), sans-serif;
    font-weight: 400;
    line-height: 2rem;
    color: #000;
}

@media (min-width: 428px) {
    html {
        font: 400 10px var(--font-family), sans-serif;
    }
}

body {
    background: #fff;
    max-width: 428px;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 143%;
    position: relative;
}

h1 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 111%;
    text-transform: uppercase;
    color: #000;
}

section {
    padding-top: 8rem;
}

.container {
    padding-left: 4.6rem;
    padding-right: 4.6rem;
    margin: 0 auto;
}

.full-width {
    margin-left: -4.6rem;
    padding-left: 4.6rem;
    padding-right: 4.6rem;
    width: calc(100% + 9.2rem);
}

.title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 4.5rem;
    text-transform: uppercase;
    line-height: 111%;
    text-align: center;
    color: #000;
}

.subtitle {
    text-align: center;
    color: #000;
    margin-top: 3rem;
}

.btn-link {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

.btn {
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 150px;
    height: 8.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.9rem;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: inset 0 4px 20px 0 rgba(251, 210, 227, 0.4);
    background: radial-gradient(55.45% 129.03% at 53.12% 21%, rgb(255, 255, 255) -146%, #eb5658 100%);
    margin-top: 2.4rem;
    margin-bottom: 0.9rem;
    letter-spacing: 0.1em;
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 1.4rem;
}
.cont {
    z-index: 10;
    display: none;
}
.cont-fixed {
    position: fixed;
    bottom: 0rem;
    transform: translate(-50%);
    left: 50%;
    width: 100%;
    z-index: 1;
    padding: 0rem 2rem 2rem 2rem;
    border-radius: 6rem 6rem 0 0;
    background: white;
}

.btn1 {
    margin: 1rem 0 7.2rem 0;
}

.underline {
    text-decoration-line: underline !important;
    display: inline-block;
}

.bold {
    font-weight: 500;
}

#shadow-host-companion {
    padding: 0 !important;
}

@media (min-width: 1200px) {
    .container {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        margin: 0 auto;
    }
    body {
        max-width: 1200px;
        background-image: url(../images/desc-top-bg.jpg);
        background-size: 1900px;
        background-position: top;
        background-repeat: no-repeat;
    }
    
    h1 {
        font-size: 10rem;
    }

    section {
        padding-top: 15rem;
    }

    .title {
        font-size: 9rem;
    }
}